.clonedElement {
  background-color: #c8e6c9 !important;
  color: #256029 !important;
}

.dynamic-table-chips-container {
  display: flex;
  flex-wrap: wrap;

  span {
    margin-block: 0.2rem;
    margin-inline-end: 0.2rem;
  }
}


.bg-header-tabele{
  background-color: #ffffff;
}


.ng-star-inserted {
  border: none !important;
}

.p-datatable-header {

  // background-color: #256029 !important;
  // border: none !important;
  
}
.p-datatable {
  border: none !important;
// background-color: #256029 !important;
}



.c
{
  width: 20px;
  height: 20px ;
  background-color: #256029;

  border-radius: 50px;
}




.s-Search
{
  background-color: #ffffff !important;

}
s-Search-span{
  margin: auto;

}
.topHeader
{
  justify-content: space-between;
}
.s-tr-body{
   border: #f1ecec 1px solid !important;

}
