<!-- <s-container>
  <s-dynamic-table
    [data]="dummyDate"
    [cols]="cols"
    [captionConfig]="captionConfig"
    (onEditClick)="onEditClick($event)"
    (onDetailClick)="onDetailClick($event)"
    (onCloneClick)="onCloneClick($event)"
    (onAddClick)="onAddClick($event)"
    (onDelete)="onDelete($event)"
  >
  <ng-template #expandedRow let-i>

  <s-table-contianer>
  <s-table-card [data]="i"></s-table-card>
  </s-table-contianer>



  </ng-template>
  </s-dynamic-table>
</s-container> -->







<app-tow-scection-containers>
            <app-map  right [lat]="32.90351434392532" [lon]="-117.2767614912517" [height]="'60vh'" [width]="''" [zoom]="16">
            </app-map>
            <div left >
            </div>
    </app-tow-scection-containers>




 <!-- <div class="mb-5"></div>

<app-dynamic-table
  [data]="dummyDate"
  [cols]="cols"
  [captionConfig]="captionConfig"
  (onEditClick)="onEditClick($event)"
  (onDetailClick)="onDetailClick($event)"
  (onCloneClick)="onCloneClick($event)"
  (onAddClick)="onAddClick($event)"
  (onDelete)="onDelete($event)"
>
  <ng-template #expandedRow let-dattt>


  </ng-template>
</app-dynamic-table> -->
