<s-card-contianer>
  <s-dynamic-table
    [data]="dummyDate"
    [cols]="cols"
    [captionConfig]="captionConfig"
    (onEditClick)="onEditClick($event)"
    (onDetailClick)="onDetailClick($event)"
    (onCloneClick)="onCloneClick($event)"
    (onAddClick)="onAddClick($event)"
    (onDelete)="onDelete($event)"
  >
  <ng-template #expandedRow let-i>

  <s-table-contianer>
  <s-table-card [data]="i"></s-table-card>
  </s-table-contianer>



  </ng-template>
  </s-dynamic-table>
</s-card-contianer>






 <!-- <div class="mb-5"></div>

<app-dynamic-table
  [data]="dummyDate"
  [cols]="cols"
  [captionConfig]="captionConfig"
  (onEditClick)="onEditClick($event)"
  (onDetailClick)="onDetailClick($event)"
  (onCloneClick)="onCloneClick($event)"
  (onAddClick)="onAddClick($event)"
  (onDelete)="onDelete($event)"
>
  <ng-template #expandedRow let-dattt>


  </ng-template>
</app-dynamic-table> -->
