


<aside class="sidebar"  [ngClass]="showSidebar ? 'open' : ''" >
  <header class="s-header"  class="s-header">
     <h1>header</h1>
  </header>
  <main class="s-main">

    <ul class="s-ul-0" *ngIf="sidebarNavItems.length">
      
    <ng-container
     *ngFor=" let i of sidebarNavItems">
     <li class="s-li-0"> 0{{i.label}}</li>
    <!-- <br> -->
    <div *ngIf="i.items?.length"></div>
     <ng-container  *ngIf="i.items?.length">
          <ng-container  *ngTemplateOutlet="child ; context:{items: i.items , index:1}">
          </ng-container>
     </ng-container>
    </ng-container>

    </ul>
  </main>
  <footer class="s-footer">
    <h1>footer</h1>
  </footer>

</aside>




<ng-template  #child let-items="items"  let-i="index">
  <ul  class="s-ul-{{i}}">

      <ng-container *ngFor="let s of items">

        <span *ngFor="let x of array(i*2).fill('*');">
           <span class="s-nevo-spice"></span>
          </span>
            <li  class="s-li-{{i}}">{{i}}{{ s.label}}</li>

            <ng-container *ngIf="s.items?.length " >

                  <ng-container *ngTemplateOutlet="child ; context:{items: s.items ,index: i+1}">
                  </ng-container>

            </ng-container>

      </ng-container>
  </ul>
</ng-template>






