


<aside class="sidebar"  [ngClass]="showSidebar ? 'open' : ''" >
  <header class="s-header"  class="s-header">
     <h1>header</h1>
  </header>
  <main class="s-main">


    <div class="s-ul" *ngIf="sidebarNavItems.length">

    <ng-container
     *ngFor=" let i of sidebarNavItems">
         <!-- <li  class="s-li-0"> 0{{i.label}}</li> -->
            <div class="col-12 ">
              <div class="tabs">
                  <div *ngIf="i.items?.length == null" class="tab">
                    <div class="notlabel">
                      #4 {{ i.label}}
                    </div>
                  </div>
                <div *ngIf="i.items?.length " class="tab">

                  <input type="checkbox" id="{{sidebarNavItems.length}}-{{ i.label}}">
                  <label class="tab-label" for="{{sidebarNavItems.length}}-{{ i.label}}">{{ i.label}}</label>
                  <div *ngIf="i.items?.length" class="tab-content">
                    <ng-container *ngTemplateOutlet="child ; context:{items: i.items , index:1}">
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
    </ng-container>

    </div>
  </main>
  <footer class="s-footer">
    <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2"> how to be a mamber </strong>
        <div class="mb-3 text-sm">
          Are you looking for more serveses? Check out our privete  serves be a mamber.
        </div>
        <div class="d-grid">
          <a href="#" class="btn btn-primary">sign in </a>
        </div>
      </div>
    </div>
  </footer>

</aside>



<ng-template  #child let-items="items"  let-i="index">
  <ul class="s-ul">
      <ng-container *ngFor="let s of items">
        <span *ngFor="let x of array(i).fill('*');"><span class="s-nevo-spice"></span></span>
            <!-- <li  class="s-li">{{i}}{{ s.label}}</li> -->
              <div class="col">
                <div class="tabs">
                  <div *ngIf="i.items?.length==null"
                    class="tab">
                        <div  class="tab">
                          <div class="notlabel">
                            #8 {{ i.label}}
                          </div>
                        </div>
                  </div>
                  <div *ngIf="i.items?.length"
                    class="tab">
                    <input type="checkbox" id="{{s.length}}-{{i}}-{{ s.label}}">
                    <label class="tab-label" for="{{s.length}}-{{i}}-{{ s.label}}">{{i}}{{ s.label}}</label>
                    <div class="tab-content">
                        <ng-container *ngTemplateOutlet="child ; context:{items: s.items ,index: i+1}">
                        </ng-container>
                    </div>
                  </div>

                </div>
              </div>

      </ng-container>
  </ul>
</ng-template>













<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">AdminKit</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="index.html">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-profile.html">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-sign-in.html">
          <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-sign-up.html">
          <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="pages-blank.html">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
        </a>
      </li>

      <li class="sidebar-header">
        Tools & Components
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-buttons.html">
          <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-forms.html">
          <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-cards.html">
          <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="ui-typography.html">
          <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="icons-feather.html">
          <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
        </a>
      </li>

      <li class="sidebar-header">
        Plugins & Addons
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="charts-chartjs.html">
          <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="maps-google.html">
          <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
        <div class="mb-3 text-sm">
          Are you looking for more components? Check out our premium version.
        </div>
        <div class="d-grid">
          <a href="upgrade-to-pro.html" class="btn btn-primary">Upgrade to Pro</a>
        </div>
      </div>
    </div>
  </div>
</nav>

