
@import '../../../../assets/scss/variables';

 .s-btn-info{
  background-color: #f1f1f1;

 }
 .sidebar-cta-content{
    .s-t{
      color: rgb(226, 226, 226) !important;

    }
   .text-sm{
     color: rgb(194, 188, 188)!important;

   }
 }







.s-header{
  margin: auto;
    margin: 7px 7px;
    background-color: $b_color_itomes_of_the_sidebar;
    border-radius: 7px;
    padding: 10px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.s-main{
  margin: auto;
   margin: 7px 7px;
   background-color: $b_color_itomes_of_the_sidebar;
   border-radius: 7px;
   padding: 5px 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.s-footer{
    margin: auto;
    margin: 7px 7px;
    background-color:$b_color_itomes_of_the_sidebar;
    border-radius: 7px;
    padding: 10px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


// @for $i from 1 through 10 {
//   .s-ul-#{$i} {
//       list-style: none;
//       border: #212529 1px solid;
//       background-color: rgba(206, 206, 206,);
//       color: rgb(101, 104, 102);
//       padding: 10px 10px 10px 10px;
//       border-radius: 5px;
//   }
// }

$su_border_menu_color: #1147daa2;
$su_border_menu_width: 5px;
$su_border_menu_radius: 0px 0px 0px 10px;

.s-ul {

      list-style: none;
      color: rgb(101, 104, 102);
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      // border-left: $su_border_menu_color $su_border_menu_width solid;
      // border-bottom: $su_border_menu_color $su_border_menu_width solid;
      // border-radius: $su_border_menu_radius;
      margin: 0px 0px;
}
.sidebar {
  background: rgb(255, 255, 255);
  color: rgb(62, 85, 105);
  position: absolute;
  overflow: hidden auto;
  width: 300px;
  height: calc(100% - 4rem);
  z-index: 9;
  bottom: 0;
  left: 0;
  background: #fff;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  transition: 350ms ease-in;
  transform: translateX(-100%);

  &.open {
    transform: translateX(0);
  }

  @media (min-width: 1170px) {
    height: 100%;
    position: relative;
    width: 0;

    &.open {
      width: 300px;
    }
  }

  .sidebar-nav {
    padding-top: 1.5rem;
    padding-inline: 0.5rem;

    .sidebarnav {
      background: #fff;
      margin: 0px;
      padding: 0px;
      width: 100%;

      .sidebar-item {
        cursor: pointer;
        width: 100%;
        // background-color: red;

        >.sidebar-item-btn:hover {
          color: #212529;
        }

        &.active>.sidebar-item-btn {
          color: #2962ff;
        }

        >.sidebar-item-btn {
          display: flex;
          color: #8f8f8f;
          font-size: 1rem;
          padding: 10px;

          >.sidebar-item-icon {
            color: inherit;
          }

          >.sidebar-item-title {
            color: inherit;
            margin-inline: 0.5rem auto;
          }

          >.sidebar-item-arrow {
            color: inherit;
            transition: transform 250ms linear;
          }
        }

        &.open>.sidebar-item-btn>.sidebar-item-arrow {
          transform: rotate(90deg);
        }

        >.sub-sidebarnav {
          height: 0;
          padding-inline-start: 1rem;
          transition: all 250ms linear;
          overflow: hidden;
        }

        &.open>.sub-sidebarnav {
          height: fit-content;
        }
      }
    }
  }
}






















$midnight: #ffffff;
$childoff : #c4bfbf;
$clouds: #7e7e7e;

// General


h1 {
  color: #ffffff;
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.row {
  display: flex;

  .col {
    flex: 1;

    &:last-child {
      margin-left: 5px;
    }
  }
}

/* Accordion styles */
.tabs {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: rgb(92, 92, 92);
  overflow: hidden;
    &:hover {

        color: rgb(0, 0, 0);
      }

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;


    /* Icon */
    &:hover {
      background: darken($midnight, 5%);
      color: rgb(65, 65, 65);
    }

    &::after {
      content: "\276F";
      width: 1em;
      height: 0.8em;
      text-align: center;
      transition: all .35s;
    }
  }
  .notlabel{
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $childoff;
      font-weight: bold;
      cursor: pointer;


      /* Icon */
      &:hover {
        background: darken($midnight, 5%);
        color: rgb(202, 202, 202);
      }


    }

  &-content {
    max-height: 0;
    padding: 0 0em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    background: darken($midnight, 10%);

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    // padding: 1em;
  }
}



.def{
  width: 500px;
}






